<div class="modal-header">
  <h4 class="modal-title">ADD LEVEL 2</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="level2">
    <div class="form-group">
      <label for="name">Name</label>
      <input style="color: black" type="text" class="form-control" id="name" placeholder="Level2 Name"
             formControlName="name">
      <label *ngIf="level2.get('name').invalid" [ngClass]="'error'"> Name is required. </label>
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <input style="color: black" type="text" class="form-control" id="code" placeholder="Level2 Code"
             formControlName="code">
      <label *ngIf="level2.get('code').invalid" [ngClass]="'error'"> Code is required. </label>
    </div>
    <div class="form-group">

      <label for="level1">Level1</label>
      <select style="color: black" class="custom-select mr-sm-2" id="level1" formControlName="level1Id">
        <option *ngFor="let lvl1 of level1s" [value]="lvl1.id">{{lvl1.code}}</option>

      </select>
      <label *ngIf="level2.get('level1Id').invalid" [ngClass]="'error'"> Level1 is required. </label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onAdd()">ADD</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
