<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Devices</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" row">
            <div class="col-md-2 col-sm-6 col-xs-12 col-6" *ngFor="let bin of devices" #bins>
              <div class="ldBar label-center bin-style" [id]="bin.binId" (click)="openDeviceData(bin)"></div>
              <div style="width: 100%; text-align: center">
                <p>{{bin.binId}}</p>
                <p>{{bin.updatedAt|date:'short'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

